<section data-ng-controller="MuktijudhasController" data-ng-init="findOne()">
	<div class="page-header">
		<h1 data-ng-bind="muktijudha.first_name"></h1>
		<h1 data-ng-bind="muktijudha.last_name"></h1>
	</div>
	<div class="page-content">
		<h3>{{muktijudha.address}}</h3>
		<h3>{{muktijudha.home_phone}}</h3>
		<h3>{{muktijudha.mobile_phone}}</h3>
	</div>
	<div class="pull-right" data-ng-show="authentication.user._id == muktijudha.user._id">
		<a class="btn btn-primary" href="/#!/muktijudhas/{{muktijudha._id}}/edit">
			<i class="glyphicon glyphicon-edit"></i>
		</a>
		<a class="btn btn-primary" data-ng-click="remove();">
			<i class="glyphicon glyphicon-trash"></i>
		</a>
	</div>
	<small>
		<em class="text-muted">
			Posted on
			<span data-ng-bind="muktijudha.created | date:'mediumDate'"></span>
			by
			<span data-ng-bind="muktijudha.user.displayName"></span>
		</em>
	</small>
</section>